# Node modules
node_modules/

# Cypress config & output
cypress/screenshots/
cypress/videos/

# Env files
.env
.env.local

# OS + editor specific
.DS_Store
.vscode/
.idea/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
